# Laravel
/vendor
/node_modules
/public/storage
/public/hot
/storage/*.key
/storage
/database/*.sqlite
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store

# Vite / build artifacts
/public/build
/.vite
